Package: trrspo
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: golang-go
Maintainer: Dmitry Beketov
Description: Программа на Go для работы с матрицами A (5x5) и C (6x6) с заменой всех не диагональных элементов на среднее арифметическое диагоналей.
